.main{
    display: flex;
   
    justify-content: center; 
    padding-top: 50px;
    width: max-content;
    margin: auto;
    width: 100vw;
    height: 91vh;
    background-color: antiquewhite;
}
.table{
   background-color: rgb(95, 157, 211);
   padding: 10px;
   border-radius: 10px; 
   width: fit-content;
   height: fit-content;
}
.thead{
    background-color: yellow;
    
}
.thead tr th{
    background-color: rgb(212, 199, 10);
    padding: 5px 20px;
}

.tbody tr td {
 background-color: antiquewhite;
 /* margin-top: 5px; */
 padding: 6px; 
 cursor: pointer;
}
